
<table class="table">
  <thead>
    <tr>
      <th scope="col"><img src= "https://i.pinimg.com/originals/5f/85/25/5f8525f165d32722fe046c26728705b7.png"></th>
      <th scope="col"><img src= "https://www.icône.com/images/icones/1/5/animals-mouse.png"></th>
      <th scope="col"><img src= "https://pbs.twimg.com/profile_images/681224310560845824/W30-FEDT_400x400.jpg"></th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Animal 1</th>
      <td>Animal 2</td>
      <td>Animal 3</td>

    </tr>
    <tr>
      <th scope="row">Clique sur le bouton pour le cri</th>
      <th scope="row">Clique sur le bouton pour le cri</th>
      <th scope="row">Clique sur le bouton pour le cri</th>

    </tr>
    <tr>
      <th scope="row">Animal 3</th>
      <td colspan="2">Larry the Bird</td>
      <td colspan="2">Larry the Bird</td>

    </tr>
  </tbody>
</table>
