<router-outlet></router-outlet>
<app-square-with-arrows></app-square-with-arrows>
<!--<app-who-am-i firstName="John" lastName="Doe"></app-who-am-i>
<br />
<br />
<app-who-am-i></app-who-am-i>
<br />
<br />

<app-who-am-i
  *ngFor="let user of users; index as i"
  [ngStyle]="generateStyles(i)"
  [firstName]="user.firstName"
  [lastName]="user.lastName"
  (onClickedShowAge)="onClickShowAge(user.age)"
></app-who-am-i>
<br />
<br />
<button (click)="onClickAddUser()">Ajouter un user</button>
<button
  [ngClass]="{
    toto: users[0].firstName === 'Julien',
    tata: users[0].firstName !== 'Julien'
  }"
  (click)="onClickAddUser()"
>
  Ajouter un user
</button>
<app-tempo></app-tempo> -->
