<div class ="container mt-5 justify-content-center">
  <h1 class = "text-center mx-5"> Product Manager of Lidl the "Market F*cker" </h1>

  <div class ="d-flex mx-5 justify-content-center">
  <button (click)="UpdateAllDispo(true)" class ="btn btn-outline-dark mx-5 mt-4"> TOUS DISPO.</button>
  <button (click)="UpdateAllDispo(false)" class ="btn btn-outline-dark mx-5 mt-4"> RIEN DISPO.</button>
</div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Status</th>

    </tr>
  </thead>
  <tbody>
    <tr
    *ngFor="let product of products; index as i">
      <th scope="row">{{product.id}}</th>
      <td>{{product.name}}</td>
      <td>{{product.status ? 'Quentin' : 'Pas Quentin'}} <button (click)="changeDispo(i)"class ="btn btn-outline-dark">Changer le Quentin</button></td>

    </tr>
  </tbody>
</table>
