<form [formGroup]="form" (ngSubmit)="onSubmitSerieForm()">

  <div class="form-group">
    <label for="name">Nom de la série</label>
    <input
    id ="name"
    class="form-control"
    formControlName= "name"
    [(ngModel)]="serie.name">
  </div>

  <div class="form-group">
    <label for="firstSeasonRelease">Date de la première saison</label>
    <input
      id="firstSeasonRelease"
      type="date"
      class="form-control"
      formControlName="firstSeasonRelease"
      (ngModelChange)="onChangeDate($event)"
      [ngModel]="serie.firstSeasonRelease | date:'dd-MM-yyyy'">
  </div>

  <div class="form-group">
    <label for="numberOfSeason">Nombres de saisons</label>
    <textarea
    id ="numberOfSeasons"
    class="form-control"
    formControlName= "numberOfSeasons"
    [(ngModel)]="serie.numberOfSeasons"></textarea>
  </div>

  <div class="form-group">
    <label for="author">Description de la série</label>
    <input
    id ="description"
    class="form-control"
    formControlName= "description"
    [(ngModel)]="serie.description">
  </div>

  <div class="form-group">
    <label for="critic">Critique de la série</label>
    <input
    id ="critic"
    class="form-control"
    formControlName= "critic"
    [(ngModel)]="serie.critic">
  </div>

  <div class="form-group">
    <label for="imgUrl">URL de l'image de la série</label>
    <input
    id ="imgUrl"
    class="form-control"
    formControlName= "imgUrl"
    [(ngModel)]="serie.imgUrl">
  </div>

  <div class ="row col-4 mx-auto">


    <button type="submit" class="btn btn-dark btn-lg"
    [disabled]="form.invalid"
    >{{buttonLabel}}</button>

    </div>


</form>

